include mixins/@idx-page.jade
include addons/@idx-data.jade

<!DOCTYPE html>
html(lang="ru")
	head
		script(src="http://vk.com/js/api/openapi.js?136")
		meta(charset="UTF-8")
		link(rel="stylesheet",
				 href="https://fonts.googleapis.com/css?family=Open+Sans:400,600"
				)
		link(rel="stylesheet", href="css/3dshop.css")
		link(rel="stylesheet",
				href="vendor/slick-carousel/slick/slick.css")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0")
		block title
			title Интернет магазин 3D принтеров и 3D сканеров. 3Д принтеры и 3Д сканеры для 3D печати и 3D сканирования в Москве, Санкт-Петербурге и всей РФ! - Top 3D Shop
	body
		header.tsh-hdr
			section.tsh-hdr__frstel
				button.tsh-hdr__frstel--openheader
					span.glb-sndmenu
				a.tsh-hdr__firstel-brand(href="#")
				div.tsh-hdr__firstel-telph
					a.telephone(href="tel:+78126432316").
						<nobr>
						+7&nbsp;(812)&nbsp;643-23-16
						</nobr>
					small.data.
						<nobr>
							Пн–пт&nbsp;10:00–19:00&nbsp;сб&nbsp;11:00–16:00
						</nobr>
				div.tsh-hdr__firstel-srch
					form.form#ajxSrchFrm
						select.selection
							option(value="oborud" selected) Оборудование
							option(value="mater") Материалы
						input.search(type="text",
									placeholder="Введите запрос, например, квадрокоптер"
						)
						button.btn.btn-trp.
							Найти
				div.tsh-hdr__firstel-crd
					button.btn.btn-buy.
						<nobr>6 товаров 1 740 000 <span class="glb-rubic">у<span></nobr>
				div.tsh-hdr__firstel-srch-ico
				div.tsh-hdr__firstel-crd-ico
					span.sum-to-buy.
						24
			section.tsh-hdr__secel
				aside.tsh-hdr__secel--cntc
					a.send(href="#") Напишите нам
					a.chat(href="#") Онлайн-чат
					br
					a.major(href="#") Свяжитесь с директором
				nav.tsh-hdr__secel--cts
					ul
						each lnk in links
							if (lnk.id === 1)
								li.active
									a(href!=lnk.link)!=lnk.title
							else
								li
									a(href!=lnk.link)!=lnk.title
				div.tsh-hdr__secel--lgin
					a.login(href="#") Войти
			section.tsh-hdr__thrdel
				nav.tsh-hdr__thrdel-nav
					ul.navigation#drp-xvc21
						each mnx in menus
							li.parent-dropdown
								a(href!=mnx.link)!=mnx.title
									.carret
								ul.dropdown-menu
									li
										h2.
												Тип оборудования
										ul.dropdown-menu-level.images-link
											li
												a(href="#")
													img(src="images/menu/3d-1.jpg", alt="")
													span.
														Персональные
												a(href="#")
													img(src="images/menu/3d-2.jpg", alt="")
													span.
														Профессиональные
												a(href="#")
													img(src="images/menu/3d-3.jpg", alt="")
													span.
														Промышленные
												a(href="#")
													img(src="images/menu/3d-4.jpg", alt="")
													span.
														Аксессуары
									li
										h2.
												Область применения
										ul.dropdown-menu-level.list-link
											div.column
												li
													a(href="#").
														Аэрокосмическая промышленность
												li
													a(href="#").
														Дизайн
												li
													a(href="#").
														Архитектура
												li
													a(href="#").
														Упаковка
											div.column
												li
													a(href="#").
														Реклама
												li
													a(href="#").
														Макетирование
												li
													a(href="#").
														Пищевые
												li
													a(href="#").
														Медицина
												li
													a(href="#").
														Сувенирная продукция

		block content

		section.mdl-proud.mdx
			article
				header
					button(role="button").
						X
				section#proud-sldx
					div.proud-sldx-img
						img(src="images/sldx-example.png", alt="Картинка")
						img(src="images/sldx-example1.jpg", alt="Картинка")
						img(src="images/sldx-example2.png", alt="Картинка")
						img(src="images/sldx-example3.jpg", alt="Картинка")
					div.proud-sldx-prev
						img(src="images/sldx-example.png", alt="Картинка")
						img(src="images/sldx-example1.jpg", alt="Картинка")
						img(src="images/sldx-example2.png", alt="Картинка")
						img(src="images/sldx-example3.jpg", alt="Картинка")
				section
					h1.
						Имя товара
					ul
						li
							img(src="images/stars.png", alt="")
							span.
								4.8
						li
							span.
								Отзывы
					div.mdx-bd
						article
							header
								span.
									Выгодная покупка
							table
								caption.
									В наличии
								tr
									td Описание 1
									td Описание 2
								tr
									td Описание 1
									td Описание 2
								tr
									td Описание 1
									td Описание 2
								tr
									td Описание 1
									td Описание 2
							div
								ul
									li Цена старая
									li Цена новая
								ul
									li
										button.btn.btn-red купить
									li
										button.btn.btn-trp купить в один клик
									li
										a(href="#") Сравнить
						table
							tr
								td Описание 1
								td Описание 2
							tr
								td Описание 1
								td.
									Дизайн, архитектура, упаковка, реклама,макетирование, медицина;
										сувенирная продукция, ювелирное дело, образование, стоматология
							tr
								td Описание 1
								td Описание 2

						ul
							h2.
								Обзоры
							li
								img(src="", alt="")
							li
								img(src="", alt="")
						footer
							h2.
								Сопутствующие товары
							ul
								li Товар
								li Товар 2
								li Товар 3


		script(src="vendor/jquery/dist/jquery.min.js" type="text/javascript")
		script(src="vendor/masonry/dist/masonry.pkgd.min.js" type="text/javascript")
		script(src="vendor/jquery-migrate/jquery-migrate.min.js")
		script(src="vendor/slick-carousel/slick/slick.min.js")
		script(src="js/3dshop.min.js")