extends @layout.jade

block content
	section.inf-vcd12
		article.con-ghx
			div#infsldx
				img(src="images/Slider/1.png",
									 alt="Картинка слайда")
				- for (var i = 2; i < 5; i++){
					img(src="images/Slider/#{i}.png", alt="")
				-}
	div.clearfix
	section.tbx-zxs47(style="z-index: 99")
		article.con-ghx
			header
				ul.tabs
					li.active
						a(href="#oborud") Оборудование
					li
						a(href="#uslugy") Услуги
					li.tablnk
						a(href="#reshen") Решения
					li.tablnk
						a(href="#mater") Расходные материалы
			div#oborud.caty
				+idx-tab('images/tabs/1.jpg', '#')
				+idx-tab('images/tabs/2.jpg', '#')
				+idx-tab('images/tabs/3.jpg', '#')
				+idx-tab('images/tabs/5.jpg', '#')
				+idx-tab('images/tabs/4.jpg', '#')
				+idx-tab('images/tabs/6.jpg', '#')
				+idx-tab('images/tabs/7.jpg', '#')
				+idx-tab('images/tabs/8.jpg', '#')
				+idx-tab('images/tabs/9.jpg', '#')
				+idx-tab('images/tabs/10.jpg', '#')
			div#uslugy.caty(style="height: auto")
				-for (var i = 1; i <= 8; i++){
					- var tabcury = 'images/tabs/service/' + i + '.jpg';
					+idx-tab(tabcury, '#')
				-}
			div#reshen.caty(style="height: auto")
				+idx-tab('images/tabs/solut/1.png', '#')
				+idx-tab('images/tabs/solut/2.png', '#')
				+idx-tab('images/tabs/solut/3.png', '#')
				+idx-tab('images/tabs/solut/5.png', '#')
				+idx-tab('images/tabs/solut/6.png', '#')
				+idx-tab('images/tabs/solut/4.png', '#', 590)
			div#mater.caty(style="height: auto")
				-for (var i = 1; i <= 12; i++){
					-var curry = 'images/tabs/materials/' + i + '.png';
					- if ( i === 5 || i === 12) {
						+idx-tab(curry, '#', 590)
					-}
					-else{
						+idx-tab(curry, '#')
					-}
				-}
	section.iconic13
		article.con-ghx
			ul
				each inc in iconic
					li
						figure
							img(src!=inc.image, alt="")
							figcaption
								h2!=inc.title
								p!=inc.text

	section.crd-vcx21
		article.con-ghx
			header
				h1 Популярная 3D техника
				aside
					button.vcx_slick-custom-left.
						❮
					button.vcx_slick-custom-right.
						❯
			div#vcx21-crslid
				-for (var i = 0; i < 8; i++){
				each prd in products
					+idx-prdcard('pud-vdx21', prd)
				-}
	section.instr-sldx44
		article.con-ghx
			header
				h1.
					Наши работы
				a(href="#").
					Все
				aside
					button.sldx_slick-custom-left.
						❮
					button.sldx_slick-custom-right.
						❯
			div#sldx44-crslid
				-for (var i = 1; i <= 4; i++){
				div
					figure
						img(src="images/work/#{i}.png", alt="")
				-}
				-for (var i = 4; i > 0; i--){
				div
					figure
						img(src="images/work/#{i}.png", alt="")
				-}
	section.ftx-txt21
		article.con-ghx
			header
				h1.
					Приглашаем в магазин 3D принтеров
			.wrap
				p.
					Пожалуй, одной из&nbsp;самых обсуждаемых и&nbsp;вожделенных технологических новинок является 3Д-принтер. Его называют научным прорывом века и&nbsp;прочат ему великое будущее, а&nbsp;вместе с&nbsp;ним&nbsp;&mdash; и&nbsp;человечеству.
				p.
					С&nbsp;помощью подобных устройств, которые можно сегодня увидеть не&nbsp;только в&nbsp;научной лаборатории, но&nbsp;и&nbsp;обычной офисной обстановке, &laquo;выращивают&raquo; канцелярские принадлежности, детали сложных механизмов, искусственные суставы и&nbsp;зубы. Спектр применения принтеров, создающих объемные предметы различной величины и&nbsp;сложности, практически безграничен! Даже его творцы затрудняются прогнозировать, сколь большим может оказаться значение их&nbsp;изобретения. Но&nbsp;уже сейчас очевидно, что практически нет такой сферы, которая&nbsp;бы смогла обойтись без этих &laquo;умных&raquo; машин.
			.wrap#showmefull
				p.
					Постижение их&nbsp;истинного значения для развития человеческой цивилизации&nbsp;&mdash; еще впереди, но&nbsp;уже сейчас без них все труднее обходиться, причем не&nbsp;только ученым, но&nbsp;и&nbsp;обычным людям. Те, кто понял истинную ценность такого прибора и&nbsp;вложил средства в&nbsp;вожделенную покупку, все больше убеждаются в&nbsp;правильности своих инвестиций. Это устройство&nbsp;&mdash; не&nbsp;просто интересная игрушка, но&nbsp;уникальная возможность зарабатывать деньги. Посуда, предметы быта, игрушки, сувениры, украшения и&nbsp;даже обувь&nbsp;&mdash; далеко не&nbsp;весь список того, что можно &laquo;вырастить&raquo; с&nbsp;помощью трехмерного принтера.
				p.
					Если вы&nbsp;хотите узнать больше, что собой представляет 3D&nbsp;печать и&nbsp;освоить&nbsp;ее, приглашаем в&nbsp;наш магазин. У&nbsp;нас можно подобрать и&nbsp;купить принтер для 3D&nbsp;печати, а&nbsp;также запастись всем необходимым для этого занимательного и&nbsp;полезного дела.
				p.
					Наш интернет магазин 3D&nbsp;принтеров&nbsp;&mdash; это мастерская будущего, где представлены лучшие образцы техники этого класса. Магазин 3Д&nbsp;принтеров&nbsp;&mdash; это возможность идти в&nbsp;ногу со&nbsp;временем!
				p.
					Продажа 3D&nbsp;принтеров
					Раньше, чтобы приобрести посуду или гитару, нужно было идти в&nbsp;&laquo;Промтовары&raquo; или музыкальную лавку. Теперь&nbsp;же для пополнения собственных запасов ложек или коллекции босоножек вовсе необязательно выходить за&nbsp;пределы своей квартиры или офиса. Для того, чтобы сделать все, что нужно, достаточно принтера, работающего в&nbsp;трехмерном формате.
				p.
					Конечно, даже самые невесомые и&nbsp;ажурные вещи нельзя соткать из&nbsp;воздуха&nbsp;&mdash; необходимо специальное сырье, которое&nbsp;&mdash; всегда у&nbsp;нас в&nbsp;наличии. Мы&nbsp;занимаемся продажей 3D&nbsp;принтеров, чтобы ультрасовременные технологии попали и&nbsp;в&nbsp;ваш дом!
				p.
					Продажа 3D&nbsp;принтеров по&nbsp;вполне доступной цене&nbsp;&mdash; это далеко не&nbsp;все, чем мы&nbsp;в&nbsp;состоянии заинтересовать тех, кто интересуется такого рода аппаратурой. Комплектующие к&nbsp;ним, а&nbsp;также сканеры объектов, которые будут воспроизводиться в&nbsp;трехмерном формате, &laquo;стройматериалы&raquo; для выполнения этой работы&nbsp;&mdash; то, что мы&nbsp;также можем предложить.
				p.
					Цена любого устройства, слой за&nbsp;слоем создающего цельные предметы и&nbsp;отдельные детали различной сложности,&nbsp;&mdash; намного ниже его качества. Поэтому позволить себе такое приобретение могут не&nbsp;только весьма обеспеченные любители технических новинок, но&nbsp;и&nbsp;люди с&nbsp;довольно скромными доходами, желающие их&nbsp;существенно увеличить. С&nbsp;помощью подобного оборудования можно создавать практически все, что угодно,&nbsp;&mdash; от&nbsp;самых простых и&nbsp;необходимых в&nbsp;быту вещей до&nbsp;украшений и&nbsp;квадрокоптеров.
				p.
					Продажа 3Д&nbsp;принтеров нового поколения, которые обладают высокой точностью и&nbsp;скоростью работы,&nbsp;&mdash; это наша лепта в&nbsp;дело популяризации современных технологий. Узнать больше об&nbsp;условиях продажи 3Д&nbsp;принтеров разного предназначения и&nbsp;об&nbsp;их&nbsp;стоимости можно в&nbsp;специальном разделе нашего сайта.
			a(href="#")
				button.btn.btn-dflt#opnshwm.
					Читать дальше
	section.infx-soc
		article.con-ghx
			div.rss
				div
					form
						h2.
							Будьте в&nbsp;курсе наших скидок и&nbsp;новостей!
						input(type="text",
									name="email",
									placeholder="Ваш адрес эл. почты"
									)
						button.btn.btn-red.
							Подписаться
					div.youtube
						h2 Посетите наш <br >видеоканал
						a(href="http://youtube.com/" target="_blank")
							img(src="images/youtube.png", alt="")
				div
					address
						a.num +7 (812) 643-23-16
						span пн-пт c 10 до 19, сб с 11 до 16
					address
						a(href="mailto:sales@top3dshop.ru").
							sales@top3dshop.ru
						span.
							Продажи
						a(href="mailto:stl@top3dshop.ru") stl@top3dshop.ru
						span.
							Услуги
						a(href="mailto:support@top3dshop.ru") support@top3dshop.ru
						span.
							Сервис
						a(href="mailto:tender@top3dshop.ru") tender@top3dshop.ru
						span.
							Тендеры
				div
					div#vk_groups
					script.
						VK.Widgets.Group("vk_groups", {mode: 4, width: "258", height: "309"}, 50804569);
				div
					div
						img(src="images/inst.png", alt="Инстаграм")
	footer.ftx-lnk
		article.con-ghx
			ul
				h2.
					3D оборудование
				each obr in obrd
					if (obr.id === 1)
						li.active
							a(href!=obr.link)!=obr.title
					else
						li
							a(href!=obr.link)!=obr.title
			ul
				h2.
					Услуги
				each usl in uslg
					li
						a(href!=usl.link)!=usl.title
			ul
				h2.
					Сервис
				each srv in srve
					li
						a(href!=srv.link)!=srv.title
			ul
				h2.
					Информация
				each inf in infr
					li
						a(href!=inf.link)!=inf.title
			ul
				h2.
					Дополнительно
				each dpt in dept
					li
						a(href!=dpt.link)!=dpt.title
	footer.ftx-comer
		article.con-ghx
			aside
				ul
					-for (var i = 1; i <= 4; i++){
						li
							img(src="images/comerc/#{i}.png", alt="")
					-}
			aside
				ul
					-for (var x = 5; x <= 9; x++){
						li
							img(src="images/comerc/#{x}.png", alt="")
					-}
		article.con-ghx
			small.
				&copy; 2013-2016
			aside.kdm
				img(src="images/logo-kdm.png", alt="")
				div
					small.
						Объем сайту придали в агентстве
					small
						a(href="http://kdm1.ru", target="_blank") «<span>Клиника доброго маркетолога</span>»
