mixin idx-tab (image, link, width)
	- if (width) width = width + "px";
	- else {width = 'auto'}
	
	div
		figure.focusing-at(style="width: #{width}")
			a(href=link)
				img(src=image, alt="Навигация")


mixin idx-prdcard(className,prdcard)
	div(class=className)
		header.pud-hdrx
			div.
				#{prdcard.state}
		figure
			a(href="#")
				img(src=prdcard.image, alt="")
			figcaption
				h2
					a(href="#")!=prdcard.title
				span.categori
					a(href="#")!=prdcard.cat
				if (prdcard.status === 1)
					span.status.true В наличии
				else
					span.status.false Нет в наличии
		aside
			span.
				<span>
					<img src="images/stars.png" />
					<a href="#">
						4.8 (14 отзывов)
					</a>
				</span>
		div.crst-tbl
			table
				each info in prdcard.about
					tr
						td!=info.title
						td!=info.desc
		div.price
			if (prdcard.price.length > 1)
				span.
					#{prdcard.price[0]}
					<i class="glb-rubic">г</i>
				em.
					#{prdcard.price[1]}
					<i class="glb-rubic">г</i>
			else
				span.
					#{prdcard.price[0]}
					<i class="glb-rubic">г</i>
		div.btns
			button.btn.btn-buy(style="margin-right: 1em").
				<span class="glb-icon-cart"></span>
				Купить
			button.btn.btn-trp.
				Купить в один клик
