@import 'variables'
@import 'addons/objects'
@import 'addons/mixins'
@import 'addons/fonts'
@import 'index'

@import 'elements/header'
@import 'elements/icons'
@import 'elements/modal'
@import 'elements/cart'
@import 'elements/button'

*
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	padding: 0
	margin: 0
	outline: none
	box-sizing: border-box
	transition: width .5s

html
	font-size: $fsize-default
	line-height: $fhei-default

body
	font-family: $ffam-default
	background: url('../images/bg-rightside.png'), url('../images/bg-leftside.png')
	background-position: 0 0, 100% 0
	background-repeat: repeat-y, repeat-y

h1
	font-size: $hdx-title-h1

h1,
h2,
h3,
h4,
h5,
h6
	font-weight: 600

input[type=text],
input[type=email],
input[type=password]
	height: 34px
	border: 1px solid hsl(0,0, 74)
	background-color: hsl(0,0,100)
	font-family: 'Open Sans', sans-serif
	font-size: 1.2em
	line-height: 3.4em
	padding: 0 1.4em
	border-radius: 3px


p
	line-height: 1.5

a
	font-size: $hdx-link
	color: #000
	text-decoration: none

address
	font-style: normal

ul
	list-style: none
	padding: 0
	margin: 0
	li
		ul
			padding-left: 1.5em
			font-size: 100%

.Con-parent
	width: $h32-desktop-view
	margin: 0 auto
	@media (max-width: 1199px)
		width: $h32-small-desktop-mdx