._BTNS-SLID
	position: absolute
	right: 1em
	top: 1.5em
	button
		cursor: pointer
		background-color: white
		border: 1px solid hsl(0,0, 80)
		font-size: 1.4em
		padding: .2em .7em
		cursor: pointer
		&:first-child
			border-right: none
			border-top-left-radius: .3em
			border-bottom-left-radius: .3em
		&:last-child
			border-top-right-radius: .3em
			border-bottom-right-radius: .3em


section.inf-vcd12
	.con-ghx
		@extend .Con-parent
		display: flex
		flex-direction: column
		flex-wrap: wrap
	ul.slick-dots
		display: flex
		order: 2
		width: 100%
		justify-content: center
		@media (max-width: 1199px)
			margin-top: -2em
		li.slick-active
			&::before
				border-color: #da2128
		li
			cursor: pointer
			&::before
				content: ""
				display: inline-block
				height: 1.4em
				width: 1.4em
				border: .3em solid hsl(0, 0%, 74%)
				border-radius: 10em
			button
				display: none
		li
			padding-left: 1em
			display: inline-block
			&:first-child
				padding-left: 0
			a
				.circle
					width: 1.6em
					height: 1.6em
					border: .3em solid hsl(0,0,76)
					border-radius: 10em
	div
		cursor: pointer
		height: 30.3em
		margin-bottom: 2em
		@media (max-width: 1199px)
			margin-bottom: 0
		img
			width: 100%
			height: auto

section.tbx-zxs47
	margin-top: 4em
	article.con-ghx
		@extend .Con-parent
		header
			display: flex
			justify-content: center
			flex-direction: row
			margin-bottom: 3.5em
			border-bottom: 2px solid hsl(0,0,90%)
			ul
				display: flex
				flex-direction: row
				transition: all .3s
				li
					margin-left: 3em
					padding-bottom: 1em
					&:first-child
						margin-left: 0
					a
						font-size: 1.8rem
						color: hsl(0,0,71%)
						cursor: pointer
					&.active
						position: relative
						&::after
							content: ""
							height: .2em
							left: 0
							bottom: -.2em
							width: 100%
							position: absolute
							background-color: hsl(358, 85%, 50%)
						a
							color: hsl(0,0,0)
		div.caty
			div
				width: 16.8%
				figure
					margin-bottom: 3.2em
					


section.iconic13
	margin-top: 7em
	article.con-ghx
		@extend .Con-parent
		display: flex
		justify-content: flex-start
		flex-wrap: nowrap
		@media (max-width: 1199px)
			flex-wrap: wrap
		ul
			display: flex
			flex-direction: row
			flex-wrap: nowrap
			justify-content: space-around
			align-items: flex-start
			@media (max-width: 1199px)
				flex-direction: row
				flex-wrap: wrap
			li
				flex-basis: 25%
				margin-left: 1.2em
				padding-right: 1.3em
				&:first-child
					margin-left: 0
				figure
					img
						margin-bottom: 1.5em
				h2
					font-size: 1.4em
					margin-bottom: 1.5em
				p
					font-size: 1.2em

section.crd-vcx21
	margin-top: 6em
	article.con-ghx
		@extend .Con-parent
		header
			position: relative
			aside
				@extend ._BTNS-SLID
		div#vcx21-crslid
			margin-right: -.85em
			padding-top: 3.5em
			div.pud-vdx21
				width: 28.4em
				margin-right: .85em
				margin-left: .85em
				border: 1px dotted hsl(0,0,76)
				user-select: initial !important
				&:first-child
					margin-left: 0
				@extend ._PRODUCT_CARD

section.instr-sldx44
	margin-top: 7.5em
	article.con-ghx
		@extend .Con-parent
		header
			position: relative
			display: flex
			flex-direction: row
			flex-wrap: nowrap
			align-items: flex-end
			margin-bottom: 3em
			h1
			a
				padding-left: 1.5em
				color: #e11f26
				text-decoration: underline
			aside
				@extend ._BTNS-SLID
		div#sldx44-crslid
			margin-right: -.85em
			figure
				background-color: #000
				width: 28.8em
				cursor: pointer
				img
					width: 100%
					height: auto

section.ftx-txt21
	margin-top: 6em
	article.con-ghx
		@extend .Con-parent
		header
			margin-bottom: 3em
		.wrap
			width: 65%
			text-align: left
			p
				margin-bottom: 2.5em
				font-size: 1.2rem
			a
				button
					padding-top: .5em
					padding-bottom: .5em

section.infx-soc
	margin-top: 6em
	margin-bottom: 3em
	#vk_groups
	article.con-ghx
		@extend .Con-parent
		display: flex
		flex-direction: row
		flex-wrap: nowrap
		align-items: stretch
		&>div
			display: flex
			flex-direction: row
			flex-wrap: nowrap
			justify-content: space-around
			width: 100%
			&>div
				border-top: 1px solid hsl(0, 0%, 89%)
				border-bottom: 1px solid hsl(0, 0%, 89%)
				padding: 3.5em 3em
				padding-bottom: 1em
				border-right: 1px solid hsl(0, 0%, 89%)
				flex-basis: 25%
				&:nth-of-type(1)
					padding-left: 0
					padding-right: 0
					form
						display: flex
						flex-direction: row
						flex-wrap: nowrap
						justify-content: flex-basis
						align-items: flex-start
						input
							width: 100%
						h2
							font-size: 1.4rem
						padding: 0 3em
					.youtube
						display: flex
						justify-content: space-between
						margin-top: 3em
						padding: 0 3em
						padding-top: 3em
						border-top: 1px solid hsl(0,0%, 90%)
						align-items: flex-basis
						justify-content: flex-basis
				&:nth-of-type(3)
					padding-top: 1em
				&:nth-of-type(4)
					padding-top: 1em
				&:last-of-type
					border-right: none
				&:first-of-type
					form
						display: flex
						flex-direction: column
						flex-wrap: nowrap
						input
							margin-bottom: 1em
							margin-top: 1em
				&:nth-of-type(2)
					display: flex
					flex-direction: column
					flex-wrap: wrap
					address
						display: flex
						flex-direction: column
					address:first-of-type
						a.num
							font-size: 1.8em
						span
							color: hsl(0,0, 76)
					address:last-of-type
						a
							color: #e11f26
							text-decoration: underline
							margin-top: 1em
						span
							margin-top: .5em
							color: hsl(0,0,76)
							display: inline-block
				&:nth-of-type(3)
					display: flex
					flex-direction: column
					flex-wrap: wrap
				&:nth-of-type(4)
					display: flex
					flex-direction: column
					flex-wrap: wrap
footer.ftx-lnk
	margin-bottom: 2em
	article.con-ghx
		@extend .Con-parent
		display: flex
		flex-direction: row
		flex-wrap: nowrap
		justify-content: space-between
		border-bottom: 1px solid hsl(0, 0%, 89%)
		padding-bottom: 2em
		ul
			display: flex
			flex-direction: column
			h2
				margin-top: 0
				margin-bottom: 1em
			li
				margin-bottom: 2.5em
				&:last-child
					margin-bottom: 2
				&.active
					a
						color: red
				a
					text-decoration: underline

footer.ftx-comer
	article.con-ghx
		padding-bottom: 2em
		@extend .Con-parent
		display: flex
		justify-content: space-between
		align-items: center
		aside
			ul
				display: flex
				flex-directoin: row
				li
					margin-right: 2em
		small
			font-size: 100%
		aside.kdm
			display: flex
			div
				margin-left: 1em
				small
					font-size: 1.2rem
					a
						color: #e11f26
						font-size: 1.2rem
						span
							text-decoration: underline
				display: flex
				flex-direction: column
				justify-content: center

section.tbx-zxs47 article.con-ghx,
footer.ftx-comer article.con-ghx,
footer.ftx-lnk article.con-ghx,
section.infx-soc article.con-ghx,
section.ftx-txt21 article.con-ghx,
section.inf-vcd12 article.con-ghx,
section.crd-vcx21 article.con-ghx
	background-color: rgb( 255 ,255 ,255)


