-
	var products = [
		{
			id: 1,
			stateCode: 1,
			state: 'Выгодная покупка',
			title: '3D принтер Prism Mini с LCD экраном',
			image: 'images/simple_card/example.jpg',
			cat: '3Dquality',
			status: 1,
			price: ['52 000'],
			about: [
				{
					title: 'Технология',
					desc: 'FDM'
				},
				{
					title: 'Толщина слоя от',
					desc: '50 мкм'
				},
				{
					title: 'Страна производитель',
					desc: 'Россия'
				}
			],
		}
	];

-
	var menus = [
		{
			id: 1,
			title: '3D принтеры',
			link: '#',
		},
		{
			id: 2,
			title: '3D сканеры',
			link: '#',
		},
		{
			id: 3,
			title: 'ЧПУ станки',
			link: '#',
		},
		{
			id: 4,
			title: 'Лит. оборудование',
			link: '#',
		},
		{
			id: 4,
			title: 'Вирт. реальность',
			link: '#',
		},
		{
			id: 5,
			title: 'ПО',
			link: '#',
		},
		{
			id: 6,
			title: 'Станки',
			link: '#',
		},
		{
			id: 7,
			title: 'Проф. техника',
			link: '#',
		},
		{
			id: 8,
			title: 'Робототехника',
			link: '#',
		},
		{
			id: 9,
			title: 'Гаджеты',
			link: '#',
		},
		{
			id: 10,
			title: 'Решение',
			link: '#',
		},
		{
			id: 11,
			title: 'Услуги',
			link: '#',
		}
	];

-
	var links = [
		{
			id: 1,
			title: 'Акции',
			link: '#',
		},
		{
			id: 2,
			title: 'О&nbsp;нас',
			link: '#',
		},
		{
			id: 3,
			title: 'Оплата и&nbsp;доставка',
			link: '#',
		},
		{
			id: 4,
			title: 'Гарантия и&nbsp;возврат',
			link: '#',
		},
		{
			id: 5,
			title: 'Что с&nbsp;моим заказом?',
			link: '#',
		},
		{
			id: 6,
			title: 'Гос. закупки',
			link: '#',
		},
		{
			id: 7,
			title: 'Блог',
			link: '#'
		},
		{
			id: '8',
			title: 'Контакты',
			link: '#'
		}
	];


-
	var obrd = [
		{
			id: 1,
			title: 'Акции',
			link: '#',
		},
		{
			id: 2,
			title: '3D принтеры',
			link: '#',
		},
		{
			id: 3,
			title: '3D сканеры',
			link: '#'
		},
		{
			id: 4,
			title: 'ЧПУ станки',
			link: '#',
		},
		{
			id: 5,
			title: 'Проф. оборудование',
			link: '#'
		},
		{
			id: 6,
			title: '3D гаджеты',
			link: '#'
		},
		{
			id: 7,
			title: 'Материалы',
			link: '#'
		},
		{
			id: 8,
			title: 'Софт',
			link: '#'
		}
	];

-
	var uslg = [
		{
			id: 1,
			title: 'Портфолио',
			link: '#'
		},
		{
			id: 2,
			title: '3D пeчать',
			link: '#',
		},
		{
			id: 3,
			title: '3D сканирование',
			link: '#'
		},
		{
			id: 4,
			title: '3D моделирование',
			link: '#'
		},
		{
			id: 5,
			title: 'Литье в силикон',
			link: '#',
		},
		{
			id: 6,
			title: 'Макетирование',
			link: '#',
		},
		{
			id: 7,
			title: 'Обучение',
			link: '#',
		},
		{
			id: 8,
			title: 'ЧПУ-Фрезеровка',
			link: '#',
		}
	];

-
	var srve = [
		{
			id: 1,
			title: 'Гарантии',
			link: '#',
		},
		{
			id: 2,
			title: 'Ремонт 3D-принтеров',
			link: '#'
		},
		{
			id: 3,
			title: 'Ремонт станков',
			link: '#'
		},
		{
			id: 4,
			title: 'Пусконаладочные работы',
			link: '#',
		}
	];

-
	var infr = [
		{
			id: 1,
			title: 'Шоу-рум',
			link: '#'
		},
		{
			id: 2,
			title: 'О компании',
			link: '#',
		},
		{
			id: 3,
			title: 'Контакты',
			link: '#'
		},
		{
			id: 4,
			title: 'Оплата и доставка',
			link: '#'
		},
		{
			id: 5,
			title: 'Условия соглашения',
			link: '#',
		},
		{
			id: 6,
			title: 'База знаний',
			link: '#'
		},
		{
			id: 7,
			title: 'Вакансии',
			link: '#',
		},
		{
			id: 8,
			title: 'Карта сайта',
			link: '#'
		}
	];

-
	var dept = [
		{
			id: 1,
			title: 'Производители',
			link: '#'
		},
		{
			id: 2,
			title: 'Дилерская сеть',
			link: '#',
		},
		{
			id: 3,
			title: 'Поставщикам',
			link: '#',
		},
		{
			id: 4,
			title: 'Франшиза',
			link: '#',
		},
		{
			id: 5,
			title: 'Участие в госзакупках',
			link: '#'
		},
		{
			id: 6,
			title: 'Лизинг оборудования',
			link: '#'
		},
		{
			id: 7,
			title: 'Аренда оборудования',
			link: '#'
		},
		{
			id: 8,
			title: 'Сравнение',
			link: '#'
		}
	];

-
	var iconic = [
		{
			id: 1,
			title: 'Компетенция и&nbsp;экспертиза',
			image: 'images/icon-idx/5.png',
			text: 'За&nbsp;более чем 3-х летний опыт работы мы&nbsp;накопили уникальный опыт в&nbsp;3D-индустрии и&nbsp;готовы использовать его на&nbsp;благо вашей компании.',
		},
		{
			id: 2,
			title: 'Оказываем 3D&nbsp;услуги на&nbsp;своем оборудовании',
			image: 'images/icon-idx/1.png',
			text: 'Собственный инженерный отдел решает производственные задачи более трех лет.',
		},
		{
			id: 3,
			title: 'Собственный сервис',
			image: 'images/icon-idx/6.png',
			text: 'ПНР, Сервис и&nbsp;постоянная техническая поддержка клиентов семь дней в&nbsp;неделю.'
		},
		{
			id: 4,
			title: 'Ответ в&nbsp;день обращения',
			image: 'images/icon-idx/2.png',
			text: 'Выверенные бизнес-процессы обеспечивают слаженную работу нашей команды.'
		},
		{
			id: 5,
			title: 'Быстрая доставка',
			image: 'images/icon-idx/3.png',
			text: 'Два собственных склада, наполненные оборудованием и&nbsp;расходниками в&nbsp;Москве и&nbsp;Санкт-Петербурге.'
		},
		{
			id: 6,
			title: 'Надежно и&nbsp;легко работать',
			image: 'images/icon-idx/4.png',
			text: 'Top 3D&nbsp;Shop&nbsp;&mdash; молодая и&nbsp;адекватная команда, уважающая своих клиентов, которая дорожит своей репутацией.',
		}
	];