.btn
	border-radius: .3em
	padding: .5em 1em
	text-align: center
	background: none
	border: 1px solid transparent
	cursor: pointer

.btn-red
	background-color: #da2128
	color: hsl(0,100,100)
	font-size: 1.3rem
	font-weight: 600
	position: relative

.btn-buy
	@extend .btn-red
	padding-left: 3.5em
	&::after
		content: ''
		display: inline-block
		position: absolute
		left: 1em
		top: 13%
		bottom: 0
		width: 1.7em
		height: 1.7em
		background-image: url('../images/delete/svgbtn.svg')
		background-repeat: no-repeat

.btn-trp
	background-color: transparent
	border: 1px solid #da2128
	font-size: 1.3em

.btn-dflt
	border: 1px solid hsl(0, 0%, 84%)
	font-size: 1.2rem