._PRODUCT_CARD
	header.pud-hdrx
		position: relative
		padding: 0
		margin-bottom: 3.1em
		width: 100%
		vertical-align: middle
		div
			display: inline-block
			vertical-align: middle
			position: absolute
			top: 0
			left: 0
			padding: 1.5em 2.5em
			height: 2em
			font-size: 100%
			background-color: #fedc00
			line-height: 0
			z-index: 999
			font-size: 1.1em
	figure
		overflow: hidden
		position: relative
		text-align: center
		display: inline-block
		img
			width: 80%
			height: auto
			display: inline-block
			margin-bottom: 2em
		figcaption
			text-align: left
			padding: 0 2.5em
			h2,span
				margin-bottom: .5em
				overflow: hidden
				word-wrap: nowrap
				text-overflow: ellipsis
			span
				font-size: 1.3em
				display: block
				&.categori
					color: hsl(0,0, 51)
					a
						font-size: 1.4rem
				&.status.true
					color: hsl(114, 54, 71)
	aside
		display: flex
		align-items: center
		padding: 0 2.5em
		img
			margin-right: 1em
		span
			display: flex
			align-items: center
	div.crst-tbl
		margin-top: 1.5em
		padding: 0 2.5em
		table
			tr
				td
					text-align: left
					padding: .2em 0
					&:first-child
						color: hsl(0,0, 68)
						padding-right: 1.5em
	div.price
		margin-top: 1.5em
		margin-bottom: 1.5em
		padding: 0 2.5em
		span
			font-size: 1.8em
			margin-right: .6em
		em
			font-style: normal
			font-size: 1.5em
			color: hsl(0,0,71)
			text-decoration: line-through
	div.btns
		text-align: center
		padding: 0 .5em
		margin-bottom: 1em