@media (min-width: 375px)
	.tsh-hdr__frstel--openheader
		display: none

$images: '../images/'

header.tsh-hdr
	width: $h32-desktop-view
	margin: 1em auto
	margin-bottom: 3.3em
	box-shadow: 0em 0em 2em rgba(0, 0, 0, .1)
	padding-top: .3em
	background-color: rgb(255, 255, 255)
	@extend ._TMP_FLX--COLUMN
	@media (max-width: 1199px)
		width: $h32-small-desktop-mdx
	.tsh-hdr__frstel
		@extend ._TMP_FLX--CENTER
		padding-left: 2.2em
		padding-right: 2.2em
		@media (max-width: 1199px)
			padding-left: 1.6em
			padding-right: 1.6em
		.tsh-hdr__firstel-crd
			margin-left: 2.8em
			font-size: 1.2rem
			@media (max-width: 1199px)
				margin-left: 1em
				font-size: 1.1rem
		.tsh-hdr__firstel-brand
			display: inline-block
			background: url($images + 'header/smartimage.png') no-repeat
			flex-shrink: 0
			width: 208px
			margin-right: 5em
			height: 64px
			@media (max-width: 1199px)
				margin-right: 2em
		[class$="-telph"]
			margin-right: 2em
			flex-basis: 16.6em
			.telephone
				font-size: 1.8em
				display: block
				font-weight: 600
				@media(max-width: 1199px)
					font-size: 1.2em
			.data
				display: block
				font-size: 100%
				color: rgb(181, 181, 181)
				@media (max-width: 1199px)
					font-size: .9em
		.tsh-hdr__firstel-srch
			width: 100%
			height: 3.4em
			border: 1px solid rgb(221, 221, 221)
			border-radius: 3px
			.form
				position: relative
				height: 100%
				.selection
					height: auto
					border: none
					background-color: transparent
					position: absolute
					top: 0
					bottom: 0
					left: 0
					background: url($images + 'caret.png'), linear-gradient(to top, rgb(246, 246, 246), rgb(255, 255, 255))
					background-repeat: no-repeat
					background-position: 100%
					border-right: 1px solid rgb(221, 221, 221)
					appearance: none
					width: 127px
					cursor: pointer
					@media (max-width: 1199px)
						width: 100px
						font-size: 10px
					@media (max-width: 1199px)
						font-size: 1em
				.search
					background-color: transparent
					border: none
					position: absolute
					top: 0
					bottom: 0
					left: 23%
					width: 60%
					@media (max-width: 1199px)
						left: 30%
						padding-right: 15em
				button.btn
					position: absolute
					right: .2em
					top: .2em
					bottom: .2em
					padding-bottom: .2em
					padding-top: .2em
					@media (max-width: 1199px)
						font-size: 10px

header.tsh-hdr
	.tsh-hdr__secel
		margin-top: 2em
		padding-left: 2.4em
		padding-right: 2.4em
		@extend ._TMP_FLX--BETWEEN
		margin-bottom: 1em
		.tsh-hdr__secel--cts
			ul:first-of-type
				display: flex
				margin-right: 2.4em
				@media (max-width: 1199px)
					flex-direction: row
					flex-wrap: nowrap

				li
					margin-right: 2.4em
					@media (max-width: 1199px)
							margin-right: 1.6em
					&:last-of-type
						margin-right: 0
					a
						text-decoration: underline
						width: 100%
						display: inline-block
						@media (max-width: 1199px)
								font-size: .9rem
					&.active
						a
							color: rgb(225, 31, 38)
		.tsh-hdr__secel--cntc
			margin-right: 1em
			a
				padding-left: 2em
				position: relative
				display: inline-block
				margin-bottom: 2em
				text-decoration: underline
				@media (max-width: 1199px)
					font-size: 1rem
				&:first-of-type
					margin-right: 2em
				&:last-of-type
					margin-bottom: 0
			.chat
				&::before
					@extend ._TEMPLETE_ICON
					background-image: url('../images/header/Forma3.svg')
			.send
				&::before
					@extend ._TEMPLETE_ICON
					background-image: url('../images/header/Forma2.svg')
			.major
				&::before
					@extend ._TEMPLETE_ICON
					background-image: url('../images/header/Forma1.svg')
		.tsh-hdr__secel--lgin
			.login
				position: relative
				padding-left: 2em
				@media (max-width: 1199px)
					font-size: 1em
				&::before
					@extend ._TEMPLETE_ICON
					background-image: url('../images/header/exit.png')
					width: 1.3em
					height: 1.3em

header.tsh-hdr
	.tsh-hdr__thrdel
		.tsh-hdr__thrdel-nav
			border-top: 1px solid rgb(244,244,244)
			padding-top: 1em
			display: table
			padding-left: 1em
			padding-right: 1em
			width: 100%
			position: relative
			@media (max-width: 1199px)
				padding-left: 1.5em
				padding-right: 1em
			ul.navigation
				display: table-row
				width: 100%
				li
					display: table-cell
					text-align: left
					padding-top: 1em
					padding-bottom: 1em
					padding-left: .3%
					padding-right: .3%
					z-index: 99
					text-align: center
					transition: all .8s
					&:hover
						.carret
							transition: all .3s
							transform: rotate(180deg)
							border-top: 6px solid rgb(0,0,0)
					&:first-child
						padding-left: 0
					&:last-child
						padding-right: 0
					a
						display:inline-block
						padding-left: .3em
						@media (max-width: 1199px)
							font-size: .9em
					.carret
						transition: all .3s
						border-top: 6px solid rgb(181,181,181)
						border-left: 4px solid transparent
						border-right: 4px solid transparent
						height: 0
						width: 0
						display: inline-block
						margin-left: .5em
						@media (max-width: 1199px)
							border-top: 5px solid rgb(181,181,181)
							border-left: 3px solid transparent
							border-right: 3px solid transparent
				.dropdown-menu
					display: none
					position: absolute
					flex-direction: row
					flex-wrap: nowrap
					background-color: rgb(255, 255, 255)
					width: 100%
					left: 0
					top: 100%
					z-index: 99
					padding: 2.3em
					padding-top: 0
					padding-bottom: 0
					box-shadow: 0em .5em 1em rgba(0, 0, 0, .1)
					&>li
						display: flex
						padding-top: 4em
						position: relative
						&:nth-child(2)::after
							content: ''
							display: block
							width: .1em
							position: absolute
							top: 0
							bottom: 0
							left: -2.5%
							background-color: rgb(241,241,241)
						h2
							text-align: left
							position: absolute
							top: 6%
							left: 0
					.dropdown-menu-level
						padding: 0
						display: flex
						flex-direction: row
						flex-wrap: nowrap
						justify-content: space-between
						&.images-link
							display: flex
							flex-direction: row
							flex-wrap: nowrap
							justify-content: flex-basis
							li
								display: flex
								flex-direction: row
								flex-wrap: nowrap
								align-items: flex-start
							a
								display: inline-block
								margin-right: 2em
								position: relative
								padding-left: 0
								img
									width: 100%
									height: auto
								span
									display: block
									position: absolute
									bottom: 1em
									left: 0
									right: 0
									font-size: 1.4rem
									color: rgb(255, 255, 255)
									overflow: hidden
									word-space: nowrap
									text-overflow: ellipsis
									@media (max-width: 1199px)
											font-size: 1.1rem
						&.list-link
							display: flex
							flex-direction: row
							justify-content: space-between
							position: relative
							div.column
								display: flex
								flex-direction: column
								padding-right: 2em
							li
								text-align: left
								a
									text-align: left
									font-size: 1.2rem
									padding-left: 0
									text-decoration: underline

._TEMPLETE_ICON
				content: ''
				width: 1.5em
				height: 1.5em
				background-size: 100%
				display: inline-block
				position: absolute
				top: 0
				left: 0
				bottom: 0
				background-repeat: no-repeat

._TMP_FLX--CENTER
	display: flex
	flex-wrap: nowrap
	align-items: center
	justify-content: center

._TMP_FLX--COLUMN
	display: flex
	flex-direction: column
	flex-wrap: nowrap
	justify-content: center

._TMP_FLX--BETWEEN
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: space-between
	align-items: center




@media (max-width: 375px)
	header.tsh-hdr
		position: fixed
		top: 0
		left: 0
		z-index: 9999
		margin-top: 0
		width: 100%
		.tsh-hdr__frstel
			flex-direction: row
			flex-wrap: nowrap
			justify-content: space-between
			padding-left: 5.4em
			padding-right: 3em
			button.btn.btn-buy
				display: none
			.tsh-hdr__firstel-brand
				margin-right: 0
			.tsh-hdr__firstel-srch
				display: none
			.tsh-hdr__firstel-telph
				display: none
			.tsh-hdr__frstel--openheader
				display: block
				width: 1.6em
				height: 1.2em
				background-color: transparent
				border: none
				+svg-icon(1.6em, 1.2em, 'header/sandwitch.svg')
			.tsh-hdr__firstel-srch-ico
				display: block
				+svg-icon(1.8em, 1.8em, 'header/search.svg')
			.tsh-hdr__firstel-crd-ico
				display: block
				position: relative
				+svg-icon(1.9em, 2.1em, 'header/card.svg')
				.sum-to-buy
					position: absolute
					top: -.5em
					right: -.8em
					background-color: rgb(225, 31, 38)
					padding: .2em
					color: white
					border-radius: 10em
		.tsh-hdr__secel
			display: none
		.tsh-hdr__thrdel
			display: none

@media (min-width: 375px)
	div.tsh-hdr__firstel-srch-ico
	div.tsh-hdr__firstel-crd-ico
		display: none