.mdx
	display: none
	position: fixed
	top: 0
	left: 0
	bottom: 0
	right: 0
	background-color: hsla(0, 0%, 25%, .5)
	width: 100%
	height: 100%
	&>article
		width: $h32-desktop-mdx
		margin: 5em auto
		background-color: rgb(255,255,255)
		padding: 6em 5em
		display: flex
		flex-direction: row
		flex-wrap: wrap
		position: relative
		&>header
			margin-bottom: 2em
			position: absolute
			top: 0
			left: 0
			padding-top: 3em
			padding-right: 5em
			text-align: right
			width: 100%
			&::after
				content: "."
				visibility: hidden
				height: 0
				display: block
				clear: both
			button
				float: right
				display: inline-block
		#proud-sldx
			width: 30%
			display: flex
			flex-direction: column
			flex-wrap: nowrap
			margin-right: 6em
			div.proud-sldx-img
				cursor: pointer
			div.proud-sldx-prev
				width: 100%
				height: auto
				.slick-current
					border-color: red
				img
					border: 1px solid hsl(0, 0%, 74%)
					margin-right: 2em
					cursor: pointer
		section:nth-of-type(2)
			display: flex
			flex-direction: column
			flex-wrap: wrap
			width: 64%
			&>h1:first-of-type
				margin-bottom: 1em
				line-height: 0
			&>ul:first-of-type
				display: flex
				align-items: center
				margin-bottom: 1.5em
				li
					display: flex
					align-items: center
					span
						margin-left: 1em
			div.mdx-bd
				display: flex
				flex-direction: column
				&>article
					background-color: hsl(0, 0%, 97%)
					width: 100%
					padding: 3em 2em
					position: relative
					display: flex
					justify-content: space-between
					header
						position: absolute
						top: 0
						left: 0
						width: 22%
						span
							display: inline-block
							background-color: #ffdd00
							padding: 1em 0
							text-align: center
							height: auto
							width: 100%
					&>table:nth-of-type(1)
						margin-top: 2.7em
						caption
							text-align: left
							color: #5db654
							margin-bottom: 1em
						tr
							td
								padding: 1em 0
								&:first-child
									padding-right: 2em
									color: hsl(0, 0%, 74%)
					div
						ul:first-of-type
							li:first-child
								color: hsl(0, 0%, 74%)
								text-decoration: line-through
							li
								text-align: center
								margin-bottom: 1em
							li:last-child
								font-size: 1.8em
						ul:nth-of-type(2)
							li
								text-align: center
								button
									padding: .7em
									width: 100%
									margin-bottom: 1em
								a
									text-decoration: underline
				&>table:nth-of-type(1)
					margin-top: 2em
					tr
						td:first-child
							color: hsl(0, 0%, 74%)
							padding-right: 2em
							width: 13%
						td
							padding: .5em 0
